.x{
  padding-bottom: 300px;
}
.light-mode {
    background-color: #f8f9fa;
    color: white;
}
.light-mode .lighCard{
    color: #121212;
}

.dark-mode {
    background-color: #121212;
    color: #ffffff;

}

.card {
    transition: 0.3s;
}

.dark-mode .card , .dark-mode .product-card{
    background-color: #1e1e1e;
    color: white;
}

.light-mode .card {
    background-color: white;
    color: black;
}


.dark-mode .btn {
    border-color: #fff;
    color: white;
}